<!DOCTYPE html>
<html lang="fr" dir="ltr">
<%- include('head'); %>

<body class="notFound flex">
  <main class="wrapper blur">
    <div class="absolute zero blur backgroundColor"></div>
  </main>
  <div class="notFound__comment flex">
    <p><%= msg %></p>
    <a href="/"><%= __('404_link') %></a>
  </div>
  <img class="notFound__img" src="/src/scss/404.png" alt="<%= __('404_img_alt') %>">
</body>

</html>
