<!DOCTYPE html>
<html lang="fr" dir="ltr">
<%- include('head'); %>

<body class="notFound flex">
  <main class="wrapper blur">
    <div class="absolute zero blur backgroundColor"></div>
  </main>
  <div class="notFound__comment flex">
    <p><%= msg %></p>
    <a href="/">Vers une terre moins hostile</a>
  </div>
  <img class="notFound__img" src="/src/scss/404.png" alt="Image illustrant la page non trouvée">
</body>

</html>
