<section class="addLocation hidden">
  <h2 class="addLocation__title title">Ajouter une implantation</h2>
  <form class="addLocation__form flex" action="/" method="post">
    <input class="addLocation__form__userID" type="hidden">
    <label class="addLocation__form__name flex">
      Nom
      <input class="input" type="text" placeholder="Nom" required>
    </label>
    <label class="addLocation__form__email flex">
      Adresse email
      <input class="input" type="email" placeholder="Adresse email" required>
    </label>
    <span class="addLocation__form__btnContainer flex">
      <button class="addLocation__form__btnContainer__reset btn btn--reset" type="reset">Effacer les champs</button>
      <button class="addLocation__form__btnContainer__submit btn btn--submit" type="submit">Valider</button>
      <button class="addLocation__form__btnContainer__hide btn home-btn" type="button">Annuler</button>
    </span>
  </form>
</section>
