<div class="confirmation hidden">
  <div class="confirmation__body flex">
    <img src="/src/scss/icons/homer.png" alt="<%= __('confirmation.img_alt') %>">
    <article>
      <p class="confirmation__body__msg"><%= __('confirmation.body_msg') %></p>
      <p class="confirmation__body__comment"><%= __('confirmation.body_comment') %></p>
      <p class="confirmation__body__cancel"><%= __('confirmation.body_cancel') %></p>
    </article>
  </div>
</div>
