<div class="confirmation hidden">
  <div class="confirmation__body flex">
    <img src="/src/scss/icons/homer.png" alt="Homer Simpson criant Hourra">
    <article>
      <p class="confirmation__body__msg">La demande a bien été enregistrée 😉</p>
      <p class="confirmation__body__comment">Retour au menu principal dans 5 secondes</p>
      <p class="confirmation__body__cancel">J'ai oublié quelque-chose 😱 !</p>
    </article>
  </div>
</div>
