<nav class="hidden context">
  <ol class="context__list">
    <li class="context__list__item context__list__item--modify context__list__item--top flex">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
        <polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon>
      </svg>
      <p>Modifier</p>
    </li>
    <li class="context__list__item context__list__item--del context__list__item--bottom flex">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
        <path d="M21 4H8l-7 8 7 8h13a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z"></path>
        <line x1="18" y1="9" x2="12" y2="15"></line>
        <line x1="12" y1="9" x2="18" y2="15"></line>
      </svg>
      <p>Supprimer</p>
    </li>
  </ol>
</nav>
