<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="src/scss/prefixed/index.css">
  <link rel="icon" type="image/png" href="src/scss/icons/favicon.png">
  <title><%= programName %></title>
</head>
