<section class="history flex">
  <h1 class="history__title title"><%= __('sidebar.history') %></h1>
  <section class="history__results flex">
    <span class="history__results__container flex"></span>
  </section>
</section>
