<!DOCTYPE html>
<html lang="fr-BE" dir="ltr">

<%- include('head'); %>

<body>
  <div class="backgroundColor"></div>
  <header class="header">
    <span class="header__container flex">
      <img class="header__container__icon returnIcon hidden" alt="Retour en arrière" src="src/scss/icons/return.svg">
      <span class="header__container__msg hidden">Étape précédente</span>
    </span>
    <%- include('sidebar'); %>
    </span>
  </header>
  <main class="wrapper flex">
    <section class="home flex">
      <h1 class="home__mainTitle"><%= instanceName %></h1>
      <p class="greetings">Bonjour <%= user.firstname %> <%= user.name %> !</p>
      <h2 class="home__title title">Que veux-tu faire ?</h2>
      <span class="home__btnContainer flex">
        <button class="home__btnContainer__newRequest btn home-btn" type="button">Rentrer une nouvelle demande</button>
        <button class="home__btnContainer__search btn home-btn" type="button" name="button">
          <a href="/search">Afficher les demandes en cours</a>
        </button>
      </span>
    </section>
    <%- include('in_requests01', {locations: locations}); %>
    <% if (user.type === 'admin') { %>
      <%- include('users', {
        classname: 'users',
        subject: 'Utilisateurs',
        title: 'Ajouter un utilisateur'
      }); %>
      <%- include('users', {
        classname: 'locations',
        subject: 'Implantations',
        title: 'Ajouter une implantation'
      }); %>
      <%- include('register', {
        registerClass: 'hidden',
        locations: locations
      }); %>
      <%- include('addLocation'); %>
    <% } %>
  </main>
  <%- include('notification'); %>
  <% if (user.type !== 'guest') { %>
  <span class="export hidden">
    <span class="export__child flex">
      <h2 class="export__child__title title">Exporter la base de données</h2>
      <section class="export__child__container flex">
        <form class="export__child__container__format flex">
          <h3 class="title">Format</h3>
          <label class="export__child__container__format__csv">
            <input class="export__child__container__format__csv__input input radio" name="DBformat" type="radio" value="csv">
            CSV (compatible Excel)
          </label>
          <label class="export__child__container__format__pgsql">
            <input class="export__child__container__format__pgsql__input input radio" name="DBformat" type="radio" value="pgsql">
            PostgreSQL (format base de données)
          </label>
        </form>
        <span class="export__child__container__btnContainer flex">
          <button class="export__child__container__btnContainer__btn btn btn--submit" type="button">Exporter</button>
          <button class="export__child__container__btnContainer__btn btn btn--reset" type="button">Annuler</button>
        </span>
      </section>
    </span>
  </span>
  <%- include('settings'); %>
  <% } %>
  <% if (user.type !== 'admin' && allowPasswordUpdate) { %>
    <%- include('register', {
      registerClass: 'hidden',
      locations: locations
    }); %>
  <% } %>
  <%- include('about'); %>
  <%- include('contextMenu'); %>
  <%- include('confirmation'); %>
  <%- include('scripts'); %>
</body>

</html>
