<!DOCTYPE html>
<html lang="fr" dir="ltr">

<%- include('head'); %>

<body>
  <main class="wrapper loginWrapper flex">
    <% if (isFirstUserConfigured && isDbConfigured) { %>
      <h1 class="title home__mainTitle"><%= instanceName %></h1>
      <form class="login flex" action="/login" method="post">
        <h1 class="title home__mainTitle">S'identifier</h1>
        <label  class="flex">
          Adresse email
          <input class="input" type="email" name="email" placeholder="Adresse email" required>
        </label>
        <label  class="flex">
          Mot de passe
          <input class="input" type="password" name="password" placeholder="Insérez le mot magique" required>
        </label>
        <button class="btn home-btn" type="submit">Se connecter</button>
        <% if (typeof messages != 'undefined' && messages.error) { %>
          <p class="warning"><%= messages.error %></p>
        <% } %>
      </form>
    <% } else if (!isDbConfigured && !isFirstUserConfigured) { %>
      <h1 class="title home__mainTitle"><%= instanceName %> - Configuration initiale de la base de données</h1>
      <%- include('dbConfig'); %>
      <%- include('register',  {registerClass: 'hidden', locations: locations}); %>
    <% } else if (!isDbConfigured && isFirstUserConfigured) { %>
      <h1 class="title home__mainTitle"><%= instanceName %> - Configuration initiale de la base de données</h1>
      <%- include('dbConfig'); %>
    <% } else { %>
      <h1 class="title home__mainTitle"><%= instanceName %> - Création du premier compte administrateur</h1>
      <%- include('register',  {registerClass: 'flex', locations: locations}); %>
    <% } %>
  </main>
  <%- include('scripts'); %>
</body>

</html>
