<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Créer un compte</h1>
    <form action="/register" method="post">
      <label>
        Nom
        <input type="text" name="name" placeholder="Nom d'utilisateur">
      </label>
      <label>
        Prénom
        <input type="text" name="firstname" placeholder="Prénom">
      </label>
      <label>
        Implantation
        <select name="location">
          <% for(const [i, location] of locations.entries()) { %>
            <option value="<%= i + 1 %>"><%= location %></option>
          <% } %>
        </select>
      </label>
      <label>
        Password
        <input type="password" name="password" placeholder="Insérez le mot magique">
      </label>
      <label>
        Genre
        <input type="text" name="gender" placeholder="Insérez le mot magique">
      </label>
      <label>
        email
        <input type="email" name="email" placeholder="Insérez le mot magique">
      </label>
      <button type="submit">Valider</button>
    </form>
  </body>
</html>
