<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Créer un compte</h1>
    <form action="/register" method="post">
      <label>
        user
        <input type="text" name="name" placeholder="Nom d'utilisateur">
      </label>
      <label>
        password
        <input type="text" name="password" placeholder="Insérez le mot magique">
      </label>
      <button type="submit">Valider</button>
    </form>
  </body>
</html>
