<section class="register <%= registerClass %>">
  <% let title = ''; %>
  <% let postURL = ''; %>

  <% if (!isFirstUserConfigured) { %>
    <% postURL = '/login'; %>
  <% } else { %>
    <% postURL = '/'; %>
    <% title = 'Ajouter un utilisateur'; %>
  <% } %>
  <% if(title !== '') { %><h2 class="register__title title"><%= title %></h2> <% } %>
  <form class="register__form flex" action="<%= postURL %>" method="post">
    <input class="hidden register__form__userID" type="text" <% if (allowPasswordUpdate) { %> value="<%= user.user_id %>" <% } %>>
    <label class="register__form__name flex">
      Nom
      <input class="input" type="text" placeholder="Nom" <% if (allowPasswordUpdate) { %> value="<%= user.name %>"<% } %> required>
    </label>
    <label class="register__form__userFirstName flex">
      Prénom
      <input class="input" type="text" placeholder="Prénom" <% if (allowPasswordUpdate) { %> value="<%= user.firstname %>"<% } %> required>
    </label>
    <label class="register__form__location flex">
      Implantation
      <select class="input">
        <option value="default">Choisissez une implantation...</option>
        <% for(const [i, location] of locations.entries()) { %>
          <option
            value="<%= location.location_id %>"
            <% if (allowPasswordUpdate && user.location === location.location_id) { %> selected <% } %>
            ><%= location.location_name %></option>
        <% } %>
      </select>
    </label>
    <label class="register__form__password flex">
      Mot de passe
      <input class="input" type="password" placeholder="Insérez le mot magique" required>
    </label>
    <label class="register__form__email flex">
      Adresse email
      <input class="input" type="email" placeholder="Adresse email" <% if (allowPasswordUpdate) { %> value="<%= user.email %>"<% } %> required>
    </label>
    <% if (allowPasswordUpdate && user.type === 'admin') { %>
      <label class="register__form__type flex">
        Type de compte
        <select class="input">
          <option value="default">Choisissez un type de compte...</option>
          <option value="admin" <% if (allowPasswordUpdate && user.type === "admin") { %> selected <% } %>>Administrateur</option>
          <% if (isFirstUserConfigured) { %>
            <option value="user" <% if (allowPasswordUpdate && user.type === "user") { %> selected <% } %>>Utilisateur</option>
            <option value="guest" <% if (allowPasswordUpdate && user.type === "guest") { %> selected <% } %>>Visiteur</option>
          <% } %>
        </select>
      </label>
    <% } %>
    <h3 class="register__form__title title">Sexe</h3>
    <span class="register__form__gender flex">
      <label class="register__form__male">
        <input class="input radio" name="gender" type="radio" value="m" <% if (allowPasswordUpdate && user.gender === "m") { %> checked <% } %>>
        Masculin
      </label>
      <label class="register__form__female">
        <input class="input radio" name="gender" type="radio" value="f" <% if (allowPasswordUpdate && user.gender === "f") { %> checked <% } %>>
        Féminin
      </label>
    </span>
    <span class="register__form__btnContainer flex">
      <button class="register__form__btnContainer__reset btn btn--reset" type="reset">Effacer les champs</button>
      <button class="register__form__btnContainer__submit btn btn--submit" type="submit">Valider</button>
      <% if (isFirstUserConfigured) { %>
        <button class="register__form__btnContainer__hide btn home-btn" type="button">Annuler</button>
      <% } %>
    </span>
  </form>
</section>
