<!DOCTYPE html>
<html lang="fr-BE" dir="ltr">

<%- include('head'); %>

<body>
  <div class="backgroundColor"></div>
  <header class="header">
    <%- include('sidebar'); %>
  </header>
  <main class="wrapper flex">
    <section class="search">
      <h1 class="search__title title">Module de recherche</h1>
      <form class="search__container flex" method="GET" action="/">
        <label for="search__container__select">Effectuer une recherche</label>
        <select class="search__container__select input" name="search__select">
          <option value="default">Choisissez un site</option>
          <% for(const [i, location] of locations.entries()) { %>
          <option value="<%= location.location_id %>"><%= location.location_name %></option>
          <% } %>
        </select>
        <input class="search__container__readerInput input" type="search" placeholder="Nom de famille du demandeur">
        <svg class="search__container__help" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <title>Vous pouvez remplir le champ pour filtrer votre recherche avec le nom de famille d'un demandeur</title>
          <circle cx="12" cy="12" r="10"></circle>
          <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
          <line x1="12" y1="17" x2="12.01" y2="17"></line>
          <svg class="help__hover" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10">
            </circle>
            <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
            <line x1="12" y1="17" x2="12.01" y2="17"></line>
          </svg>
        </svg>
        <button class="search__container__submit" type="submit">
          <svg class="search__container__submit__svg" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="arcs">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        </button>
      </form>
      <h2 class="search__title search__title__h2 title">
        Résultats de recherche
        <% if (user.type !== 'guest') { %>
          <svg class="search__title__h2__help" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <title>Vous pouvez agir sur les demandes en effectuant un clic-droit sur chacune d'elles</title>
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
            <line x1="12" y1="17" x2="12.01" y2="17"></line>
            <svg class="help__hover" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10">
              </circle>
              <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
              <line x1="12" y1="17" x2="12.01" y2="17"></line>
            </svg>
          </svg>
        <% } %>
      </h2>
      <section class="search__results flex">
        <span class="search__results__container flex"></span>
      </section>
    </section>
  </main>
  <%- include('notification'); %>
  <% if (user.type !== 'guest') { %>
  <%- include('contextMenu'); %>
  <% } %>
  <%- include('about'); %>
  <%- include('in_requests01', {
    locations: locations,
    users: users
  }); %>
  <%- include('confirmation'); %>
  <%- include('scripts'); %>
</body>

</html>
