<section class="users hidden">
  <span class="users__header flex">
    <h2 class="title users__header__title">Utilisateurs</h2>
    <button class="users__header__addUserBtn btn home-btn" type="button">Ajouter un utilisateur</button>
  </span>
  <span class="users__container"></span>
</section>
