body,
html {
  font-size: 1.2em;
  min-height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  @include background-image();

  * {
    font-size: 0.9em;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    letter-spacing: 0.5px;
    box-sizing: border-box;
  }

  .absolute {
    position: absolute;
    top: 10%;
  }

  .zero {
    left: 0;
    right: 0;
  }

  .fixed {
    position: fixed;
  }

  .hidden {
    display: none;
  }

  .relative {
    display: relative;
  }

  .title {
    height: max-content;
  }

  .translateXbackwards,
  .translateXonwards {
    transition: transform 1200ms;
  }

  .translateXbackwards {
    transform: translateX(-100vw);
  }

  .translateXonwards {
    transform: translateX(100vw);
  }

  .backgroundColor {
    background-color: $translucent-black;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .flex {
    display: flex;
    @media(max-width: 1000px) {
      flex-wrap: wrap;
    }
  }

  .wrapper {
    padding: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;

    @media(max-width: 1000px) {
      height: 100vh;
    }

    &.loginWrapper {
      flex-direction: column;
      justify-content: center;
      background-color: $translucent-black;
      padding: 2em;
    }
  }

  .blur {
    filter: blur(5px);
  }

  .protip,
  .protip * {
    color: $protip;
  }

  .protip {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1em;
    margin-top: 5em;

    &--noMargin {
      margin-top: 0;
    }
  }

  .notification {
    position: absolute;
    top: 80%;
    right: -60vw;
    border-radius: 0.5em;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5em;
    z-index: 5;

    &__msg {
      margin-left: 1em;
    }
  }

  .notification.flex {
    animation: slide 5s cubic-bezier(0,.53,0,.98);
  }

  .notificationInfo {
    background-color: $electric-blue;
  }

  .notificationSuccess {
    background-color: $green;
  }

  .notificationFailure {
    background-color: $red;
  }

  .notificationMail {
    background-color: $orange;
  }

  .warning {
    @include warning;
  }
}
