.about__container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  @include align(center, center);

  &__child {
    width: 60%;
    height: max-content;
    border-radius: 0.5em;
    @include box-shadow;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    @media(max-width: 1000px) {
      width: 85%;
    }

    &__title {
      height: min-content;
      width: 100%;
      text-align: center;
      font-size: 1.2em;
    }

    &__section {
      flex-direction: row;
      width: 100%;
      height: 100%;
      font-size: 1.05em;
      padding: 0 1.5em;
      @media(max-width: 720px) {
        flex-direction: column;
      }

      &__img {
        align-self: center;
        max-width: 30%;
        margin: 0 1.5em 1.5em 0;
        @media(max-width: 720px) {
          margin: 0;
        }
      }

      &__right {
        width: 100%;
        font-size: 1.05em;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 1em;
        @media(max-width: 720px) {
          width: 100%;
        }

        &__item {
          align-items: center;
          justify-content: space-between;

          .updateBtn {
            width: 10em;
          }
        }

        &__item.dev,
        &__item.license {
          justify-content: space-between;
          width: 55%;
          @media(max-width: 720px) {
            width: 60%;
          }
        }

        &__item.links {
          justify-content: space-around;
        }

        &__item.version {
          width: 75%;
          align-items: baseline;
          @media(max-width: 720px) {
            width: 100%;
          }
        }

        &__item.text {
          text-align: justify;
        }
      }
    }
  }
}
