.export {
  &__child {
    width: 50%;
    height: 50%;
    background: rgba(0,0,0,0.8);
    flex-direction: column;
    border-radius: 0.5em;
    @include box-shadow;

    &__title {
      text-align: center;
      font-size: 1.1em;
    }

    &__container {
      flex: 1;
      justify-content: center;
      flex-direction: column;

      &__btnContainer {
        width: 100%;
        align-self: flex-end;
        justify-content: space-evenly;
        align-items: flex-end;
        padding-bottom: 1em;

        &__btn {
          margin-top: 0;
        }
      }

      &__format {
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0 2em;
        font-size: 1em;

        &__csv,
        &__pgsql {
          align-items: center;

          &__input {
            margin-right: 0.5em;
          }
        }
      }
    }
  }
}
