.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  @include align(space-between, center);
  z-index: 2;

  svg {
    cursor: pointer;
  }

  &__menu,
  .menu {
    position: absolute;
    height: 100vh;
    width: 4em;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__menu {
    cursor: pointer;
  }

  .menu {
    background-color: opacify($translucent-black, 0.3);
    padding: 0 1em;
    flex-direction: column;
    box-sizing: content-box;
    @include align(flex-start, center);
    @include box-shadow;

    .hide {
      opacity: 0;
      width: 0;
    }

    &:hover {
      width: 22em;
      transition: width 250ms ease-in-out;

      .shown {
        opacity: 0;
        width: 0;
      }

      .hide {
        opacity: 1;
        transition: opacity 400ms ease-in-out;
      }

      button,
      p.hide {
        font-size: inherit;
      }

      p.hide {
        width: 70%;
      }

      svg.hide {
        width: 30%;
      }
    }

    form {
      width: 100%;
    }

    hr {
      width: 80%;
    }

    &__item {
      .test {
        opacity: 0;
      }
      padding: 0.5em 0;
      margin: 0.5em;

      button,
      p {
        width: 0;
        font-size: 0;
      }
    }

    &__item,
    &__item a {
      text-decoration: none;
      font-size: 1em;
      width: 100%;
      @include align(flex-start, center);
      box-sizing: border-box;
      cursor: pointer;

      &__icon {
        // width: 30%;
        width: 100%;
      }

      &__legend {
        // width: 70%;
        &.btn {
          padding: 0;
          background: none;
          width: auto;
        }
      }
    }

    &__item.searchLink {
      a {
        font-size: 1em;
        text-decoration: none;
        padding: 0;
        margin: 0;
      }
    }

    &__item.settingsLink {
      &:hover {
        svg {
          transform: rotate(-360deg);
          transition: transform 1500ms;
        }
      }
    }

    &__label {
      padding-top: 1em;
      font-size: 1em;
    }
  }

  &__container {
    align-items: center;
    position: fixed;
    top: 0.55rem;
    left: 7em;
    font-size: 1.1em;

    &__icon {
      margin-right: 1.5em;
      cursor: pointer;
    }
  }
}
