.history {
  flex-direction: column;
  width: 100%;
  height: 80%;
  align-items: center;
  padding-left: 6em;

  &__title {
    font-family: 'Lobster Two', cursive;
    font-size: 2em;
    text-align: center;
  }

  &__results {
    width: 90%;
    height: 80%;
    justify-content: flex-start;
    overflow: auto;
    @include box-shadow;

    &__container {
      @include tabContainer;
    }
  }
}
