.inRequests {
  padding-left: 6em;
  width: 100%;

  &.absolute {
    .inRequests__form {
      font-size: 0.9em;

      &__applicantInfo,
      &__requestInfo__row1 {
        justify-content: space-around;
      }
    }
  }

  &__step1 {
    justify-content: space-around;
    @include simple-step();

    img {
      object-fit: contain;
      padding: 0 1.5em;
    }
  }

  &__title {
    text-decoration: underline;
    font-size: 1.3em;
    width: 100vw;
    text-align: center;
  }

  &__form {
    font-size: 1.05em;
    flex-direction: column;
    width: 60%;

    label {
      align-self: center;
      flex-direction: column;
      align-items: center;
      font-size: 1em;
    }

    .title {
      padding: 0.5em 0;
      font-size: 1em;
    }

    &__applicantInfo,
    &__requestInfo,
    &_btnContainer {
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
    }

    &__btnContainer {
      margin-top: 3em;
      width: 100%;
      align-self: center;
      justify-content: space-evenly;

      &__hide {
        position: relative;
        top: 0;
        left: 30%;
        margin: 0;
        z-index: 2;
      }
    }

    &__applicantInfo {
      align-items: center;

      &__container {
        flex-direction: column;

        &__autocomplete {
          @include autocomplete;
        }
      }
    }

    &__requestInfo {
      flex-direction: column;

      &__row1 {
        justify-content: space-between;
        margin-top: 1em;
        align-items: baseline;
      }

      &__comment {
        @include textarea();
      }
    }

    &__applicantInfo,
    &__requestInfo {
      &__container,
      &__mail {
        width: 45%;
      }
    }
  }
}
