.confirmation,
.export {
  width: 100vw;
  height: 100vh;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: 3;
}

.confirmation,
.export {
  background-color: $translucent-black;
}
