.register {
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  font-size: 1em;

  &__form {
    flex-direction: column;

    label {
      width: 70%;
      justify-content: space-between;
      align-items: baseline;

      .input {
        width: 60%;
      }
    }

    &__gender {
      flex-direction: column;

      label {
        width: 45%;

        .input {
          width: auto;
          margin-right: 0.5em;
        }
      }
    }

    &__btnContainer {
      justify-content: space-evenly;
      padding-top: 1.5em;
    }

    &__nameContainer {
      justify-content: space-between;
    }

    &__female,
    &__male {
      align-items: center;

      &__input {
        margin-right: 1em;
      }
    }
  }
}
