.addLocation,
.register {
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 1.1em;

  &__title {
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-size: 1.5em;
    margin: 0.5em 0;
  }

  &.absolute {
    background-color: $translucent-black;
    padding: 1em;
    border-radius: 0.5em;
    top: 0;
    align-items: center;
    z-index: 2;
    overflow: auto;

    .register__form, .addLocation__form {
      width: 80%;
    }

    .home-btn {
      display: block;
    }
  }

  &__form {
    flex-direction: column;

    label {
      width: 70%;
      justify-content: space-between;
      align-items: baseline;

      .input {
        width: 60%;
      }
    }

    &__btnContainer {
      justify-content: space-evenly;
      padding-top: 1.5em;
      align-items: baseline;

      .home-btn {
        display: none;
      }
    }

    &__nameContainer {
      justify-content: space-between;
    }
  }
}

.register__form {
  &__gender {
    flex-direction: column;

    label {
      width: 45%;

      .input {
        width: auto;
        margin-right: 0.5em;
      }
    }
  }

  &__female,
  &__male {
    align-items: center;

    &__input {
      margin-right: 1em;
    }
  }
}
