.search {
  margin: 0 3em 0 7em;
  width: 100%;
  height: 100%;

  .title {
    text-align: center;
  }

  &__container {
    font-size: 1em;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__submit,
    &__submit__svg {
      cursor: pointer;
    }

    &__submit {
      background: none;
      border: none;
    }

    &__help {
      @include help;
    }
  }

  &__results {
    width: 100%;
    height: 65%;
    justify-content: flex-start;
    overflow: auto;
    @include box-shadow;

    &__container {
      @include tabContainer;
    }
  }

  &__title {
    font-family: 'Lobster Two Bold Italic', sans-serif;
    font-size: 2em;

    &__h2 {
      font-size: 1.6em;

      &__help {
        margin-left: 0.3em;
        @include help;
      }
    }
  }
}
