.settings__container {
  display: none;
  width: 100%;
  height: 100%;
  @include align(center, center);
  position: absolute;
  top: 0;
  z-index: 3;

  .settings__child {
    @include align;
    flex-direction: column;
    width: 60%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    @include box-shadow;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
    font-size: 1.1em;
    @media(max-width: 720px) {
      overflow-y: auto;
      width: 90%;

      .toggleAttachments__Input,
      .toggleMailCc__Input,
      .toggleMail__input,
      .toggleMyRequests__Input,
      .toggleUserPasswordUpdate__Input {
        margin-top: 1.5em;
      }
    }

    &__header {
      flex-direction: row;
      width: 100%;

      h1 {
        font-size: 2em;
        width: 100%;
        text-align: center;
        font-family: Lobster Two;
        margin: 0;
      }
    }

    &__heading {
      font-family: Lobster Two;
    }

    &__heading2 {
      font-size: 1.5em;
    }

    span:last-child {
      padding-bottom: 1em;
    }

    &__descriptionContainer textarea {
      @include textarea($min-height: 15em);
      margin-top: 0.75em;
    }

    &__senderContainer .protip {
      margin-top: 1em;
    }

    &__descriptionContainer,
    &__instanceNameContainer,
    &__mailContainer,
    &__senderContainer {
      align-items: center;
      width: 100%;

      input {
        width: 100%;
      }

      label {
        flex: 1;
        width: 50%;
        flex-direction: column;
        margin-right: 1em;
      }
    }

    .protip {
      font-size: 0.8em;
    }

    .settings__BtnContainer {
      width: 100%;
      display: inline-flex;
      justify-content: flex-end;
      -webkit-justify-content: flex-end;
      margin-top: 1.5em;
      padding-bottom: 1.5em;
      @media(max-width: 720px) {
        position: relative;
        top: 5%;
        left: 0;
        justify-content: space-evenly;
      }
    }

    &__cancelBtn,
    &__saveBtn {
      padding: 0.7em;
      margin-right: 1.1em;
      @media(max-width: 720px) {
        margin-bottom: 1em;
        margin-right: 0;
      }
    }

    .toggleAttachments,
    .toggleMailCc,
    .toggleMyRequests,
    .toggleUserPasswordUpdate,
    .toggleRequestDeletionMail {
      margin-top: 2em;
    }

    .toggleAttachments,
    .toggleMail,
    .toggleMailCc,
    .toggleMyRequests,
    .toggleUserPasswordUpdate,
    .toggleRequestDeletionMail {
      justify-content: space-between;
      width: 100%;
      align-items: baseline;
      @media(max-width: 720px) {
        flex-direction: column;
      }

      &__Comment {
        width: 90%;
      }

      &__Switch {
        position: relative;
        right: 0.5em;
        display: inline-block;
        width: 3em;
        height: 1em;
      }

      &__Slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: red;
        transition: 0.4s;
        border-radius: 2em;
        height: 1.6em;
        width: 3em;
        cursor: pointer;

        &:before {
          position: absolute;
          content: "";
          height: 70%;
          width: 45%;
          bottom: 15%;
          background-color: white;
          transition: 0.4s;
          border-radius: 50%;
          left: 4px;
        }
      }

      &__Input {
        display: none;

        &:checked + .toggleAttachments__Slider,
        &:checked + .toggleMailCc__Slider,
        &:checked + .toggleMail__Slider,
        &:checked + .toggleMyRequests__Slider,
        &:checked + .toggleUserPasswordUpdate__Slider,
        &:checked + .toggleRequestDeletionMail__Slider {
          &:before {
            left: 0;
            transform: translateX(22px);
          }
          background-color: $green;
        }
      }
    }
  }
}
