.users, .locations {
  flex-direction: column;
  width: 100%;
  height: 80%;
  align-items: center;

  &__header {
    width: 80%;
    align-items: baseline;

    &__addBtn {
      margin: 0;
      height: max-content;
    }

    &__title {
      font-family: 'Lobster Two Bold Italic', sans-serif;
      font-size: 2em;
      text-align: center;
      flex: 1;
    }
  }

  &__container {
    width: 60%;
    height: 80%;
    justify-content: flex-start;
    overflow: auto;
    @include box-shadow;
    @include tabContainer(80%);

    &__row__item--email {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
